:root {
    --header-height: 7vh;
    --footer-height: 7vh;
    --header-color-light: #3f98b7;
    --nav-color-light: #a2cfdb;
    --footer-color-light: #3f98b7;
    --main-color-light: #ecf6f8;
    --header-color-dark: #A5D8FF;
    --nav-color-dark: #266DD3;
    --footer-color-dark: #A5D8FF;
    --main-color-dark: #f0f7f4;
}

body {
    margin: 0;
    font-size: 100%;
}

img {
    width: 50px;
    height: 50px;
}

.page-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header header'
    'menu content'
    'footer footer';
    min-height: 100dvh;
}

header {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 25px;
    background-color: var(--header-color-light);
    grid-area: header;
    height: var(--header-height);
}

nav {
    grid-area: menu;
    background-color: var(--nav-color-light);
    width: 300px;
}

main {
    grid-area: content;
    background-color: var(--main-color-light);
}

main > div > h1 {
    margin: 0;
}

.project-title {
    font-size: 3rem;
    text-align: center;
}

.tasks-container {
    display: grid;
    width: 50%;
    margin: auto;
}

.task-area-title {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--header-color-light);
    font-size: 2.5rem;

}

.task-elements-container {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 0.5rem;
    width: 75%;
    padding-top: 0.5rem;
}

.task-elements-container img {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
}

.description {
    flex-grow: 1;
}

.strikethrough {
    text-decoration: line-through;
}
footer {
    grid-area: footer;
    background-color: var(--footer-color-light);
}
