body {
    margin: 0;
}

img {
    width: 50px;
    height: 50px;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    'header header'
    'menu content'
    'menu footer';
}

.header {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: beige;
    padding-left: 25px;
    grid-area: header;
}

.menu {
    grid-area: menu;
    border: 1px solid black;
}

.content {
    padding: 0px 25px;
}
.content > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
    grid-area: footer;
    border: 1px solid black;
}